<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1a48ac;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white;">Control Academico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Dashboard  <i class="bi bi-speedometer2 mg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Estudiante <i class="bi bi-person-arms-up mg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Empleado <i class="bi bi-person-badge mg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Aulas <i class="bi bi-shop mg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Cursos <i class="bi bi-table mg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Grados <i class="bi bi-dribbble mg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Reportes <i class="bi bi-journal-text mg"></i>
          </a>
        </li>
      </ul>
      <button class="btn btn-outline-success active click" type="button">Logout</button>
    </div>
  </div>
</nav>